<apex:component controller="Shift_ActivityPreview_Controller" access="global">
    
    <apex:includeScript value="{!URLFOR($Resource.Shift_DataTable, 'js/jquery.js')}" />
    <apex:pageMessages />
        
    <apex:attribute name="ObjectType" type="String" description="the object using this component" assignTo="{!theObjectType}" access="global"/>
    <apex:attribute name="ObjectId" type="String" description="the object Id" assignTo="{!theObjectId}" access="global"/>   
    <apex:actionFunction action="{!init}" name="initialize" reRender="activityPanel"/>
     <style>
         .commentInner {
             max-height:100px;
             overflow-y:scroll;
         }
         .btn {
             display:none;
         }
     </style>
     <div class="outerPageWrapper"> 
      

        <!-- ACTIVITY SECTION -->
        <div class="left column">  
                <apex:outputPanel id="activityPanel" >             
                 
                    <apex:pageBlock id="activityTable" mode="maindetail">
                         <c:Shift_DataTable tableIds="theActivityTable" loadScripts="true" collapsibleRows="true" lengthChange="false" numRows="{!numRows}" expandAll="true"/>  
                    
                            <!-- TASK PREVIEW TABLE -->
                            <apex:pageBlockTable value="{!activitySortedList}" title="Activity" var="item" id="theActivityTable">   
                            
                                <apex:column headervalue="Activity Type">
                                    <apex:outputText value="{!item.sObjType}"/>
                                </apex:column>                                                    
                               
                                <apex:column headervalue="Activity Date">
                                    <apex:outputField value="{!item.sObj[item.ActivityDate]}"/>
                                </apex:column>

                              <apex:column headervalue="User">
                                    <apex:outputField value="{!item.sObj[item.OwnerId]}"/>
                                </apex:column>                                                

                                <apex:column headervalue="Related To">
                                    <apex:outputField value="{!item.sObj[item.WhatId]}"/>
                                </apex:column>    
                                
                                <apex:column headervalue="Contact">
                                    <apex:outputField value="{!item.sObj[item.WhoId]}"/>
                                </apex:column>                                                                                     
                                
                               <apex:column headervalue="Task Subject">
                                    <apex:outputField value="{!item.sObj[item.TaskSubject]}"/>
                                </apex:column>
                    
                                <apex:column headervalue="Task Type">
                                    <apex:outputField value="{!item.sObj[item.TaskType]}"/>
                                </apex:column>
                                  
                                <apex:column headervalue="Subject">
                                    <apex:outputField value="{!item.sObj[item.Subject]}"/>
                                </apex:column>                                  
                                                         
                                <apex:column headervalue="Type">
                                    <apex:outputField value="{!item.sObj[item.Type]}" />
                                </apex:column>   
  
                                <apex:column >
                                    <div class="commentInner"> 
                                        <apex:outputField value="{!item.sObj[item.Description]}"/>
                                    </div>
                                </apex:column>
                                                                            
                            </apex:pageBlockTable>  
                                                 
                    </apex:pageBlock>
                </apex:outputPanel>       
        </div>      
     </div>
     
<script>
    $(document).ready(function() {
        $(document).on('init.dt', 'table', function () {
             $(".outerPageWrapper a").attr("target","_blank");
        } );            
    });
    
    window.onload=function(){initCaller(); };
  
    function initCaller(){
        initialize();       
    }
    
</script>     
</apex:component>